In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/stocks/DJIA.csv')
df
stocks = df.pivot('Date', 'Name')
print(stocks.head(10))
print(list(stocks.columns.values))

             Open                                                          \
Name         AABA   AAPL   AMZN    AXP     BA    CAT   CSCO    CVX    DIS
Date
2006-01-03  39.69  10.34  47.47  51.70  70.40  57.87  17.21  57.25  24.08
2006-01-04  41.22  10.73  47.48  52.44  70.08  57.95  17.48  59.08  24.50
2006-01-05  40.93  10.69  47.16  51.90  70.55  59.02  17.94  58.68  24.13
2006-01-06  42.88  10.75  47.97  52.64  70.34  59.47  18.51  58.95  24.65
2006-01-09  43.10  10.96  46.55  52.82  69.28  60.45  18.97  59.49  24.85
2006-01-10  42.96  10.89  46.41  53.58  68.80  61.35  18.87  58.76  25.02
2006-01-11  42.19  11.98  45.65  53.70  69.97  60.87  18.98  59.22  25.38
2006-01-12  41.92  12.14  44.79  53.58  70.25  61.23  19.27  60.00  25.65
2006-01-13  41.00  12.14  44.48  53.70  69.64  62.02  19.13  59.89  25.61
2006-01-17  39.09  12.24  43.95  53.08  69.07  61.69  18.70  60.90  25.83

                      ...           Volume                                     \
Name           GE     ...             MSFT         NKE         PFE         PG
Date                  ...
2006-01-03  35.10     ...       79974418.0  18468800.0  38052400.0  9741600.0
2006-01-04  35.35     ...       57975661.0  15832000.0  43972000.0  6746400.0
2006-01-05  35.27     ...       48247610.0   9256000.0  42601900.0  8936100.0
2006-01-06  35.38     ...      100969092.0   7573600.0  28523900.0  8826300.0
2006-01-09  35.40     ...       55627836.0  10441600.0  28080300.0  7715700.0
2006-01-10  35.27     ...       64924946.0  11837600.0  28630300.0  8553600.0
2006-01-11  35.14     ...       70123544.0  10372800.0  28433800.0  8791800.0
2006-01-12  35.45     ...       45994725.0  11159200.0  27020300.0  6612800.0
2006-01-13  34.90     ...       41449046.0   9612000.0  20972000.0  7146800.0
2006-01-17  35.63     ...       58574807.0  11075200.0  32153700.0  5299200.0

                                                                      \
Name              TRV         UNH        UTX          VZ         WMT
Date
2006-01-03  3843800.0   8070600.0  3716500.0  12903800.0  23413900.0
2006-01-04  2285900.0   5587100.0  3114500.0  31004500.0  14090700.0
2006-01-05  3069300.0   5626000.0  3118900.0  20664000.0  20759200.0
2006-01-06  2641500.0   5577800.0  2874300.0  57704300.0  21135000.0
2006-01-09  2201500.0   8831000.0  2467200.0  17600000.0  14890700.0
2006-01-10  1739000.0   6238100.0  3677300.0  30254800.0  13422500.0
2006-01-11  2425500.0   5519600.0  3161100.0  19609600.0  14179400.0
2006-01-12  2501900.0   5374100.0  4025300.0  24601600.0  11425700.0
2006-01-13  1719600.0  11005800.0  2136600.0  20380200.0  10260500.0
2006-01-17  2130800.0   6333200.0  3092600.0  18634600.0  17118300.0


Name               XOM
Date
2006-01-03  23873200.0
2006-01-04  19086600.0
2006-01-05  17158600.0
2006-01-06  17370000.0
2006-01-09  17339500.0
2006-01-10  17913400.0
2006-01-11  17327100.0
2006-01-12  21130500.0
2006-01-13  17075900.0
2006-01-17  18193400.0

[10 rows x 155 columns]
[('Open', 'AABA'), ('Open', 'AAPL'), ('Open', 'AMZN'), ('Open', 'AXP'), ('Open', 'BA'), ('Open', 'CAT'), ('Open', 'CSCO'), ('Open', 'CVX'), ('Open', 'DIS'), ('Open', 'GE'), ('Open', 'GOOGL'), ('Open', 'GS'), ('Open', 'HD'), ('Open', 'IBM'), ('Open', 'INTC'), ('Open', 'JNJ'), ('Open', 'JPM'), ('Open', 'KO'), ('Open', 'MCD'), ('Open', 'MMM'), ('Open', 'MRK'), ('Open', 'MSFT'), ('Open', 'NKE'), ('Open', 'PFE'), ('Open', 'PG'), ('Open', 'TRV'), ('Open', 'UNH'), ('Open', 'UTX'), ('Open', 'VZ'), ('Open', 'WMT'), ('Open', 'XOM'), ('High', 'AABA'), ('High', 'AAPL'), ('High', 'AMZN'), ('High', 'AXP'), ('High', 'BA'), ('High', 'CAT'), ('High', 'CSCO'), ('High', 'CVX'), ('High', 'DIS'), ('High', 'GE'), ('High', 'GOOGL'), ('High', 'GS'), ('High', 'HD'), ('High', 'IBM'), ('High', 'INTC'), ('High', 'JNJ'), ('High', 'JPM'), ('High', 'KO'), ('High', 'MCD'), ('High', 'MMM'), ('High', 'MRK'), ('High', 'MSFT'), ('High', 'NKE'), ('High', 'PFE'), ('High', 'PG'), ('High', 'TRV'), ('High', 'UNH'), ('High', 'UTX'), ('High', 'VZ'), ('High', 'WMT'), ('High', 'XOM'), ('Low', 'AABA'), ('Low', 'AAPL'), ('Low', 'AMZN'), ('Low', 'AXP'), ('Low', 'BA'), ('Low', 'CAT'), ('Low', 'CSCO'), ('Low', 'CVX'), ('Low', 'DIS'), ('Low', 'GE'), ('Low', 'GOOGL'), ('Low', 'GS'), ('Low', 'HD'), ('Low', 'IBM'), ('Low', 'INTC'), ('Low', 'JNJ'), ('Low', 'JPM'), ('Low', 'KO'), ('Low', 'MCD'), ('Low', 'MMM'), ('Low', 'MRK'), ('Low', 'MSFT'), ('Low', 'NKE'), ('Low', 'PFE'), ('Low', 'PG'), ('Low', 'TRV'), ('Low', 'UNH'), ('Low', 'UTX'), ('Low', 'VZ'), ('Low', 'WMT'), ('Low', 'XOM'), ('Close', 'AABA'), ('Close', 'AAPL'), ('Close', 'AMZN'), ('Close', 'AXP'), ('Close', 'BA'), ('Close', 'CAT'), ('Close', 'CSCO'), ('Close', 'CVX'), ('Close', 'DIS'), ('Close', 'GE'), ('Close', 'GOOGL'), ('Close', 'GS'), ('Close', 'HD'), ('Close', 'IBM'), ('Close', 'INTC'), ('Close', 'JNJ'), ('Close', 'JPM'), ('Close', 'KO'), ('Close', 'MCD'), ('Close', 'MMM'), ('Close', 'MRK'), ('Close', 'MSFT'), ('Close', 'NKE'), ('Close', 'PFE'), ('Close', 'PG'), ('Close', 'TRV'), ('Close', 'UNH'), ('Close', 'UTX'), ('Close', 'VZ'), ('Close', 'WMT'), ('Close', 'XOM'), ('Volume', 'AABA'), ('Volume', 'AAPL'), ('Volume', 'AMZN'), ('Volume', 'AXP'), ('Volume', 'BA'), ('Volume', 'CAT'), ('Volume', 'CSCO'), ('Volume', 'CVX'), ('Volume', 'DIS'), ('Volume', 'GE'), ('Volume', 'GOOGL'), ('Volume', 'GS'), ('Volume', 'HD'), ('Volume', 'IBM'), ('Volume', 'INTC'), ('Volume', 'JNJ'), ('Volume', 'JPM'), ('Volume', 'KO'), ('Volume', 'MCD'), ('Volume', 'MMM'), ('Volume', 'MRK'), ('Volume', 'MSFT'), ('Volume', 'NKE'), ('Volume', 'PFE'), ('Volume', 'PG'), ('Volume', 'TRV'), ('Volume', 'UNH'), ('Volume', 'UTX'), ('Volume', 'VZ'), ('Volume', 'WMT'), ('Volume', 'XOM')]

In [3]:
stocks[('High', 'MMM')].head()

Date
2006-01-03    79.35
2006-01-04    79.49
2006-01-05    78.65
2006-01-06    78.90
2006-01-09    79.83
Name: (High, MMM), dtype: float64

In [4]:
# Create variables for lead in 7 days:
target  = stocks[('High', 'MMM')].shift(-7)
target.head(10)
features =  stocks.values
target = target.values

In [5]:
np.argwhere(np.isnan(target))

array([[3013],
       [3014],
       [3015],
       [3016],
       [3017],
       [3018],
       [3019]], dtype=int64)

In [6]:
np.argwhere(np.isnan(features))

array([[ 907,   20],
       [ 907,   51],
       [ 907,   82],
       [ 907,  113],
       [ 907,  144],
       [1068,    0],
       [1068,    1],
       [1068,    2],
       [1068,    6],
       [1068,   10],
       [1068,   14],
       [1068,   21],
       [1068,   31],
       [1068,   32],
       [1068,   33],
       [1068,   37],
       [1068,   41],
       [1068,   45],
       [1068,   52],
       [1068,   62],
       [1068,   63],
       [1068,   64],
       [1068,   68],
       [1068,   72],
       [1068,   76],
       [1068,   83],
       [1068,   93],
       [1068,   94],
       [1068,   95],
       [1068,   99],
       [1068,  103],
       [1068,  107],
       [1068,  114],
       [1068,  124],
       [1068,  125],
       [1068,  126],
       [1068,  130],
       [1068,  134],
       [1068,  138],
       [1068,  145],
       [1657,    8],
       [1657,   39],
       [1657,   70],
       [2913,    3],
       [2913,    4],
       [2913,    5],
       [2913,    7],
       [2913,    8],
       [2913,    9],
       [2913,   11],
       [2913,   12],
       [2913,   13],
       [2913,   15],
       [2913,   16],
       [2913,   17],
       [2913,   18],
       [2913,   19],
       [2913,   20],
       [2913,   22],
       [2913,   23],
       [2913,   24],
       [2913,   25],
       [2913,   26],
       [2913,   27],
       [2913,   28],
       [2913,   29],
       [2913,   30],
       [2913,   35],
       [2913,   36],
       [2913,   48],
       [2913,   49],
       [2913,   51],
       [2913,   54],
       [2913,   56],
       [2913,   57],
       [2913,   60],
       [2913,   65],
       [2913,   66],
       [2913,   67],
       [2913,   69],
       [2913,   70],
       [2913,   71],
       [2913,   73],
       [2913,   74],
       [2913,   75],
       [2913,   77],
       [2913,   78],
       [2913,   81],
       [2913,   85],
       [2913,   86],
       [2913,   87],
       [2913,   88],
       [2913,   90],
       [2913,   91],
       [2913,   92]], dtype=int64)

In [7]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='mean')
X_imp = imp.fit_transform(features)

In [8]:
# Normilize data, drop NaN obs
X_imp = X_imp[:-8,]
target = target[:-8,]
import sklearn.preprocessing
X_norm = sklearn.preprocessing.normalize(X_imp)

# Problem 1. 
Scale the data. Use 10000 iterations with 30 steps to predict target using RNN with 3 neural layers with 100 neurons each [100,100,100].Use learning_rate = 0.001.

a. Generate predicted price from the model. 
b. Calculate expected profit from 7 day investement
c. Find 10 days with best expected rate of 7 day investement
d. calculate expected and observed profit for these 10 best investement days
e. Find average expected and realized profit for all days in the data

In [9]:
import tensorflow as tf
def reset_graph(seed=42):
    tf.reset_default_graph()
    tf.set_random_seed(seed)
    np.random.seed(seed)

reset_graph()


n_steps = 30
n_inputs = len(stocks.columns)
n_neurons = 50
n_outputs = 1
learning_rate = 0.001
batch_size = 1
n_iterations = 10000

X = tf.placeholder(tf.float32, [None, n_steps, n_inputs])
y = tf.placeholder(tf.float32, [None, n_steps, n_outputs])